<h1>Main#index</h1>


<%= javascript_pack_tag 'hello_coffee' %>
<div id="resultados" class="alert alert-primary" role="alert">
     <%= @palabrabuscada %>     
</div>
 
<%= form_tag "/search/create", method: :get, remote:true , id:"search-form" ,class:"form-inline my-2 my-lg-0" do %>
<%= text_field_tag :keyword, nil, placeholder: "Buscar aqui" ,class:"form-control mr-sm-2" %>
<%= content_tag :button ,class:"btn btn-outline-success my-2 my-sm-0", type: :submit do %>
buscar
<%end%>
<%end%>
